.hero {
  background-image: url("assets/images/hero.png");
  background-position: 0% 100%;
  background-size: cover;
  padding: 30px;
  height: 600px;
}

@media screen and (max-width:460px) {
    .hero {
        background-image: url("assets/images/hero-mobile.png");
        background-position: 50% 100%;
    }
}

.hero div {
    position: relative;
    height: 100%;
}

.hero div h1 {
    position: absolute;
    top: 30%;
    max-width: 500px;
    -webkit-text-stroke: 0.8px #ffffff;
    font-weight: bolder;
}

.hero div button {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
    width: 130;
    height: 60;
    background-color: #7fffd4;
    color: black;
    font-weight: bolder;
    font-size: larger;
}
