.container {
  background: #1B435D;
  color: white;
  padding: 24px 32px;
}

.inline_container {
  display: flex;
  align-items: flex-end;
}

.info {
  margin-left: auto;
}

.send_button {
  margin: 24px 0 0 0;
}
.search_box {
  display: none;
  margin: 24px 0 0 0;
}
